easydict==1.13
filterpy==1.4.5
fire==0.6.0
matplotlib==3.8.2
numba==0.59.0
numpy==1.24.3
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
ordereddict==1.1
Pillow==10.3.0
pyquaternion==0.9.9
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.13.0
setuptools==65.5.0
xinshuo_py_toolbox==1.0.0
